body {
    background-color: #f6f6f6;
}

/* has no effect within web component */
#title {
    background-color: gray;
}

button {
    margin: 0.25rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
}